<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>口罩检测网站</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="search">
		<form id="searchform" method="get" action="#">
			<fieldset>
			<input id="s" type="text" name="s" value="" class="text" />
			<input id="x" type="submit" value="Search" class="button" />
			</fieldset>
		</form>
	</div>
</div>
<div id="logo">
	<h1><a href="#">口罩检测人群密集度检测</a></h1>
	<h2>来自某支队伍</h2>
	</div>
<!-- end header -->
<hr />
<!-- start page -->
<div id="page">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/">首页</a></li>
			<li><a href="{{ url_for('upload') }}">口罩佩戴检测</a></li>
			<li><a href="#">疫情地图</a></li>
			<li><a href="#">海外疫情</a></li>
			<li><a href="{{ url_for('fish') }}">鱼类识别</a></li>
			<li><a href="{{ url_for('garbage') }}">垃圾分类</a></li>
		</ul>
	</div>
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">口罩检测以及人群密集度检测</h1>
			<p class="meta"><small>Posted on 、April , 2020 by 某支队伍</small></p>
			<div class="entry">
				<p><strong>Face_Mask</strong> 是一个的口罩检测模型，可以实时跑在本地摄像头以及视频上检测人脸并判断是否佩戴了口罩.并且检测画面中的人数，如果超过三人则提示有人群聚集风险</p>
				<p></p>
				<h2>疫情中的爱与善良</h2>
			<p></p>
				<ul>
					<li><a href="#">一线医护工作者在最前线抗击疫情</a></li>
					<li><a href="#">科技行业和人工智能领域的从业者也在贡献着他们的力量</a></li>
					<li><a href="#">我们也希望可以通过自己的的软件为疫情防疫做出自己的贡献</a></li>
					<li><a href="#">我们向这次疫情中所有工作者致以我们最高最诚挚的问候，辛苦你们了，最美的人</a></li>
				</ul>
				<h2>我们的模型</h2>
				<p></p>
				<blockquote>
					<p>红色是未戴口罩，绿色是佩戴了口罩，左上角的数字表示画面中的人数。我们决定用tensorflow模型，深度学习算法等方式编写一个测试口罩佩戴及人群密集度的告警系统，为抗疫做出努力。</p>
				</blockquote>
			</div>
			<p class="links"></p>
			<p class="tags"></p>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar two -->
	<div id="sidebar2" class="sidebar">
		<ul>
			<li>
				<h2>图像和视频检测范围</h2>
				<ul>
					<li><a href="#">对人像图片进行口罩检测。</a></li>
					<li><a href="#">对视频中的人进行口罩检测，未戴口罩进行语音提示。</a></li>
					<li><a href="#">开启本机摄像头对相机范围类的人进行口罩检测，大于3人数未戴口罩，进行语音提示。</a></li>
					<li><a href="#">语音播报采用多线程技术，可以在视频运行的实时进行提示</a></li>
				</ul>
			</li>
			<li>
				<h2>我们的团队：某支队伍</h2>
				<ul>
					<li><a href="#">李瑞强</a>网站负责人</li>
					<li><a href="#">王志平</a> 技术负责人</li>
					<li><a href="#">张露</a> 算法负责人</li>
					<li><a href="#">谢心怡</a> 美工负责人</li>
					<li><a href="#">牛嘉兴</a> 团队负责人</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar two -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<hr />
<!-- start footer -->
<div id="footer">
	<p>&copy;2020 欢迎联系我们 137214788@qq.com. &nbsp;&bull;&nbsp; Designed by 某支队伍.</p>
</div>
<!-- end footer -->
</body>
</html>
