<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <center>
        <h3>{{msg}}</h3>
        <div>
            <h2>口罩佩戴检测</h2>
            上传文件<br>
                <div>
                    <form method="post" action="up_photo" enctype="multipart/form-data">
                    <input type="file" size="30" name="photo"/>
                    <br>
                    <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
                    </form>
                </div>
                <a href="camera">
                <button>打开摄像头</button>
            </a>
        </div>
    </center>
    </body>
</html>